html {
    scroll-behavior: smooth;
  }
  
  .logo { 
    height: 100px;
    width: 100px;
    float: left;
  }
.holder {
    padding: 50px;
}

  body {
    background-color: #efefef;
  }

button-home{
    height: 5px;
    width: 7px;
}

.footer {
    color: #020504;
    text-align: center;
    padding: 3px;
    color: black;
    position: fixed;
    width: 100%;
    text-align: center;
  }

.contact-info{
    text-align: center;
    font-size: medium;
}

  .break {
    height: 1px;
    background-image: black;
  }